.btn {
  color: #fff;
  width: 100%;
}

.btn__green {
  background-color: $green;
}

.btn__grey {
  background-color: $bgnd-lightgray;
  color: black;
}

@media screen and (min-width: 990px) {
  .btn {
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid $green;
    color: $green;

    &:hover {
      background-color: $green;
      color: white;
    }
  }
}
