* {
  margin: 0;
  padding: 0;
  border: none;
  outline-width: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

@import "./variables.scss";
@import "./aboutUs.scss";
@import "./button.scss";
@import "./carDetails.scss";
@import "./inventory.scss";
@import "./marketing.scss";
@import "./salesRepresentatives.scss";
@import "./salerepresentativecard.scss";
@import "./map.scss";
@import "./carInventory.scss";
@import "./filters.scss";
@import "./filterLabel.scss";
@import "./slider.scss";
@import "./loanCalculator.scss";
@import "./header.scss";
@import "./hamburger.scss";
@import "./skeletonContainer.scss";
@import "./carDetailsSkeleton.scss";
@import "./filtersSkeleton.scss";
@import "./noCarState.scss";
@import "./app.scss";
@import "./options.scss";
@import "./homepage.scss";
@import "./footer.scss";
