.skeletonContainer {
  display: grid;
  gap: 48px;

  &_img {
    margin: 24px 0 !important;
    align-self: center;
  }

  &_btn {
    margin-top: 20px !important;
  }
}

@media screen and (min-width: 990px) {
  .skeletonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & > div {
      width: 300px;
    }
  }
}
